@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form action="/login/create" method="post">
    <h1>Sign Up</h1>
    <input type="text" name="username" placeholder="user name" />
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="password" />
    <input type="password" name="passwordConfirmation" placeholder="password confirmation" />
    <button type="submit">Create Account</button>

    @if (ViewBag.ErrorMessage != null)
    {
        <h3>@ViewBag.ErrorMessage</h3>
    }

</form>