@{
    ViewBag.Title = "Game";
}

<body>
    <div>
        <h1>Connect Four</h1>
        <h2 id="winner"></h2>
        <h2 id="SaveGame" hidden> Game Saved!</h2>
        <div id="gameboard">
        <div id="board"></div>
        </div>
    </div>
    <button id="restartGame">Restart Game</button>
</body>
<script>
     this.game = new Object();
    this.game.userID = @(Request.QueryString["userId"]);
</script>